.view{
    background-color: #FFFFCC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.view .Book-info{

    display:  block;
}

.view .toogle{
       display:  inline-block; 
}
.view img {
    border: 1px solid;
    margin: 5px;
}
.edit{
    display: inline-block;
    border-left-style: groove;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom-color: beige;

}