.title{
    text-align: center;
    background-color: #E0E0E0;
}

.header{
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom-color: beige;
}

.Cover{
  cursor: pointer;  
}

.Cover .Cover-hiddenElement{
    display: none;
}